@media (min-width: 768px) {
  .top-nav {
    display: block;
  }

  .main-nav {
    display: block;
  }

  .header-description p {
    width: 50%;
  }

  .header-intro p {
    font-size: 84px;
    line-height: 80px;
  }

  .intro {
    padding-top: 140px;
  }

  .header-title h1 {
    font-size: 44px;
  }

  .program-wrapper-inner {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .speaker-wrapper-inner {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }

  .footer-inner {
    flex-direction: row;
  }

  .footer-text {
    width: 60%;
    text-align: left;
  }

  .footer-about img {
    width: 150px;
  }

  .about {
    padding-top: 80px;
  }

  .article-wrapper {
    display: flex;
    flex-direction: row;
  }

  .about-intro h1 {
    font-size: 62px;
    line-height: 70px;
    text-align: center;
    margin-bottom: 35px;
  }

  .single-program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .whole-program p {
    background: none;
  }

  .whole-program p a {
    text-decoration: underline;
  }

  .single-speaker img {
    width: 40%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .partner-about {
    display: none;
  }

  .footer-about {
    margin-top: 100px;
  }
}

@media (min-width: 1300px) {
  .program-wrapper-inner {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
