body {
  font-family: 'Lato', sans-serif !important;
}

#js-enable-message {
  text-align: center;
  color: tomato;
  font-size: 18px;
  font-weight: 900;
}

.top-nav {
  height: 36px;
  background-color: rgb(62, 62, 62);
  line-height: 29px;
  vertical-align: middle;
  text-align: right;
  display: none;
}

.top-nav div {
  display: flex;
  justify-content: flex-end;
}

.top-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 300px;
}

.top-nav ul li {
  margin: 0 15px;
}

.register-wrapper a {
  font-size: 1.125em;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  background-color: #ef513c;
  padding: 5px 25px;
  color: #fff;
  border: 1px solid #ef513c;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: none;
  transition: all 0.3s;
}

.register-wrapper-mobile,
.login-wrapper-mobile {
  width: 100%;
}

.register-wrapper-mobile a,
.login-wrapper-mobile a {
  font-size: 1.125em;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  background-color: #ef513c;
  padding: 5px 25px;
  color: #fff;
  border: 1px solid #ef513c;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: none;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.mobile-social a {
  margin: 1px 10px;
}

.mobile-nav-wrapper > a {
  margin: 20px;
}

.whole-program p a {
  font-size: 20px;
  color: #fff;
}

.top-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.813em;
}

.top-nav-mobile {
  background-color: #fff;
  line-height: 29px;
  vertical-align: middle;
  text-align: right;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.top-nav-mobile div {
  display: flex;
  flex-direction: column;
  background: #272a31;
}

.top-nav-mobile > div {
  height: 100%;
}

.top-nav-mobile ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.top-nav-mobile ul li {
  margin: 0 15px;
  float: left;
}

.top-nav-mobile ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.813em;
}

.mobile-nav-wrapper {
  display: flex;
  flex-direction: column;
}

.logo-custom {
  width: 180px;
  height: auto;
}

.mobile-menu-close {
  width: 35px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.logo-custom-mobile {
  width: 180px;
  height: auto;
  margin-bottom: 50px;
}

.main-nav {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 8px 1px;
  position: relative;
  display: none;
}

.main-nav-wrapper {
  justify-content: space-evenly;
}

.main-nav-wrapper ul li a {
  color: rgb(136, 136, 136);
  font-size: 1.1em;
  transition: all 0.3s;
  margin: 0 20px;
  font-weight: normal;
}

.register-wrapper a:hover {
  border: 1px solid #fff;
}

.main-nav-wrapper ul li a:hover {
  color: tomato;
}

.mobile-nav-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  cursor: pointer;
}

.intro {
  background-image: url('../image/main_big.png');
  padding-top: 180px;
  padding-bottom: 140px;
  background-size: cover;
  background-position: center center;
}

.header-title h1 {
  color: #f34910;
  font-size: 34px;
  font-weight: 500;
}

.header-intro p {
  font-size: 42px;
  font-weight: 900;
  color: #f33c08;
  text-transform: uppercase;
  line-height: 50px;
}

.header-description p {
  text-align: justify;
  height: auto;
  width: 100%;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
  margin-top: 15px;
  margin-bottom: 40px;
  line-height: 220%;
  padding: 10px 25px 1px 25px;
  font-size: 1.125em;
}

.header-time h2 {
  color: rgb(87, 87, 87);
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 900;
}

.header-time p {
  color: rgb(87, 87, 87);
  margin-bottom: 10px;
  font-size: 22px;
  margin-top: -15px;
  font-weight: normal;
}

.program {
  background-image: url(../image/pattern_bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  height: auto;
  padding-top: 80px;
  padding-bottom: 90px;
}

.program-wrapper {
  display: flex;
  flex-direction: column;
}

.program-header {
  font-size: 30px;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.program-header-liner,
.partner-header-liner {
  background: #ef513c;
  width: 50px;
  height: 1px;
  margin: 1px auto 50px;
}

.program-wrapper-inner {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}

.single-program {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.01);
  padding: 20px;
  transition: all 0.3s;
}

.single-program:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

.single-program h3 {
  color: rgb(239, 81, 60);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.single-program img {
  margin: 0 auto;
}

.single-program p {
  text-align: center;
  word-break: keep-all;
  color: rgb(255, 255, 255);
  font-size: 0.813em;
  padding: 1px 17px;
  line-height: 1.5em;
}

.whole-program p {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px;
  word-spacing: 3px;
}

.speaker {
  background-color: #fff;
  height: auto;
  padding-top: 80px;
  padding-bottom: 90px;
}

.speaker-header {
  font-size: 30px;
  color: rgb(39, 42, 50);
  font-weight: normal;
  text-align: center;
}

.speaker-wrapper-inner {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}

.single-speaker {
  /* display: flex;
  flex-direction: column; */
  background: #fff;
  padding: 30px;
  transition: all 0.3s;
}

.single-speaker img {
  width: 180px;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.single-speaker h3 {
  font-size: 22px;
  font-weight: normal;
}

.single-speaker h5 {
  font-size: 13px;
  color: rgb(255, 79, 56);
  font-weight: normal;
}

.single-speaker .h5-liner {
  width: 50px;
  height: 1px;
  background: rgb(136, 136, 136);
  float: left;
}

.single-speaker p {
  margin-top: 30px;
}

.partner {
  background: rgb(46, 46, 46);
  padding-top: 100px;
  padding-bottom: 120px;
}

.partner-header {
  font-size: 30px;
  color: rgb(136, 136, 136);
  font-weight: normal;
  text-align: center;
}

.partner-logo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.partner-logo img {
  width: 120px;
  height: auto;
  margin: 20px;
}

.footer-inner {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  width: 200px;
}

.footer-text {
  width: 100%;
  color: rgb(136, 136, 136);
  text-align: center;
  margin-top: 50px;
}

@media (min-width: 576px) {
  .container {
    min-width: 90% !important;
  }
}
